<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ordar_status %><br />
    <%= f.text_area :ordar_status %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br />
    <%= f.text_area :payment_method %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br />
    <%= f.text_field :shipping_address %>
  </div>
  <div class="field">
    <%= f.label :shipping_city %><br />
    <%= f.text_area :shipping_city %>
  </div>
  <div class="field">
    <%= f.label :customer_name %><br />
    <%= f.text_area :customer_name %>
  </div>
  <div class="field">
    <%= f.label :customer_lastname %><br />
    <%= f.text_area :customer_lastname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
